body {
    background-color: #150578;
    color: #E7E7E7;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
}

h1, h2, h3, p {
    text-align: center;
    

}



img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a {
    color:darkgrey;
    text-align: right;

}

a:hover {
    color:navajowhite;
}

a:visited {
    color:darksalmon;
}

.links {
    opacity: 0;
    transform: translateY(50px);
    transition: .8s all ease;
}

.toggle{
    opacity: 1;
    transform: translateY(0px);
}